html { height: 100%}
body { 
  height: 100%; 
  background-color: #fff;
}

#map_canvas {
    height: 100% 
    }
#bodyContent {
  background-color: #efefef;
  width: 50%;  
  min-height: 370px;
}
#videoContent { 
  float: right;
  padding-left: 5px;
  padding-right: 5px;
}
#popup {
  border-left: 7px solid #5a0e95;
}
#logo {
  float: right;
}
#main_header {
    background-color:#ffffff;
    font-family: adelle, serif;
    margin-bottom: 5px;
    border-bottom: 7px solid #5a0e95;
    height: 80px;
}

p {
  font-family: adelle, serif;
  color: #777; 
  padding: 5px;
  background-color: #efefef;
}

#main_header img{
  float:right;
  padding-bottom: 5px;
}
#main_header h1 {
    padding-top:20px;
}

h1 {
  font-family: adelle, serif;
  color: #5a0e95;
  padding-left: 10px;
}
                 
h2 {
  font-family: adelle, serif;
  color: #666;
  padding-left: 10px;
  margin-top: -15px;
  font-size: 1.2em;
}

h3 {
  font-family: adelle, serif;
  padding-left: 10px;
  color: #5a0e95;
  margin-top: -10px;
}

ul {
  margin-top: -10px;
}

li {
  font-family: adelle, serif;
  color: #777; 
  text-decoration: none;
  margin-left: -10px;
}                 

a {
  font-family: adelle, serif;
  color: #5a0e95;
  padding-left: 10px;
  text-decoration: none;
}

.all-caps{
  text-transform: uppercase;
}
