html { height: 100%}
body { 
  height: 100%; 
  background-color: #ddd;
}

#map_canvas {
    height: 100% 
    }
#bodyContent {}
#videoContent { 
  float: right;
  padding-left: 5px;
  padding-right: 5px;
}
#popup {
  border-left: 7px solid #5a0e95;
}
#logo {
  float: right;
}
#main_header {
    background-color:#ffffff;
    font-family: adelle, serif;
    margin-bottom: 5px;
    border-bottom: 7px solid #5a0e95;
    height: 75px;
}

p {
  font-family: adelle, serif;
  color: #777; 
  background-color: #efefef;
  padding: 5px;
  width: 50%;
}

#main_header img{
  float:right;
}
#main_header h1 {
    padding-top:20px;
}

h1 {
  font-family: adelle, serif;
  color: #5a0e95;
  padding-left: 10px;
}
                 
h2 {
  font-family: adelle, serif;
  color: #666;
  padding-left: 20px;
}
h3 a {
  font-family: adelle, serif;
  color: #5a0e95;
  padding-left: 10px;
  text-decoration: none;
}

.all-caps{
  text-transform: uppercase;
}
